$background-color: violet;

@mixin format {
    background-color: $background-color;
    width: 50px;
    height: 50px;
    margin: 5px;

    &:hover {
        cursor: pointer;
    }
}
    
* {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 25px 0px 10px 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container-nav {
    display: flex;
    flex-direction: column;
    background-color: #d3b8ff;
    height: 100vh;
    width: 15%;
    border-right: 3px solid black;
    align-items: center;
}

.colors-inline {
    display: flex;
    flex-direction: row;
    .box-color {
        @include format;
        border: 5px solid black;
    }
}

#box0 {
    background-color: violet;
}
#box1 {
    background-color: salmon;
}
#box2 {
    background-color: blue;
}
#box3 {
    background-color: white;
}
#box4 {
    background-color: orange;
}
#box5 {
    background-color: green;
}

.formats-inline {
    display: flex;
    flex-direction: row;
}

#format-square {
    @include format;
}

#format-circle {
    @include format;
    border-radius: 75%;
}

.size {
    border: 2px solid black;
    margin: 10px 20px 0px 20px;
    width: 200px;
    height: 20px;
}

.flex-container-main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 85%;

    .main-square {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background-color;
        border: 5px solid black;
        margin: 10px;
        width: 140px;
        height: 140px;
        font-size: 45px;
        transition: all 0.3s ease-in-out;
    }
}