$background-color: purple;

    
* {
    margin: 0px;
    padding: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container-nav {
    display: flex;
    flex-direction: column;
    background-color: gray;
    justify-content: space-around;
    height: 100vh;
    width: 15%;
}

.colors-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box-color {
    width: 50px;
    height: 50px;
    background-color: red;
}

.formats-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#format-square {
    background-color: $background-color;
    width: 50px;
    height: 50px;
}

#format-circle {
    background-color: $background-color;
    width: 50px;
    height: 50px;
    border-radius: 75%;
}

.size {
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
}

.flex-container-main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 85%;
}